body
{
  background-image:url(Kaibafundo.jpg);
  background-size: 100%;
};
body 
{
  width: 350px;
  border: solid;
}
div.a 
{
  text-align: center;
}
#logos 
{
  position: relative;
  width: 300px;
  text-align: center;
  left: 32px;
  top: 3px;
}
.im 
{
  position: relative;
  text-align: center;
  width: 12%;
  height: 12%;
}
div.box 
{
  margin:0 auto;
  width: 300px;
  background:#260049;
  position:relative;
  top:50px;
  border:1px solid #260049;
}
div.box h3 
{
  color: white;
}
  
div.box label 
{
  color: white;
    
}